/*@keyframes background {
	from {background-color: #d5d7d8;}
	to {background-color: #ecf0f1;}
}*/

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('/fontsBebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
	font-display: auto;
}
html, body {
    height: 100%;
}
body {
    background-image: linear-gradient(to bottom, #ecf0f1,#FFF);
	background-size: contain;
	background-repeat: no-repeat;
	color: #444;
	font-family: 'BebasNeueRegular';
	min-height: 100% !important;
}
::selection {
    background: #34495e;
    color: #FFF;
}
::-moz-selection {
    background: #34495e;
    color: #FFF;
}
a {
	color: inherit;
}
.b {border: 1px solid red;}
.me {
	border-radius: 50%;
	border: 5px solid #444;
}
h1, h2 {
	font-weight: normal;
}
h1 {
	font-size: 3.5rem;
}
h2 {
	font-size: 2rem;
}
.fab:hover {
	color:#000;
}